 #header img{
			margin-left:0px;
			width:150px;
			height:80px;
			float:left;
			padding-right:15px;

		}
#p2  li{
	display: inline;
	font-size: 70%;
}
#p2 input{
	size: 6px;
	border-radius: 1px;
	margin: left;
}
#p2{
	font-style: italic;
}

	p{		
		color: white;
		float:left;
		width:100%;
		padding:25px;
		border:10px;
		background-color:grey;
		border: 1px white;
		font-size:15px;
		font-color:red;
		text-align:center;
	 }
	 .button {
  	background-color:#646560;
  	border: 1px solid white;
  	color: white;
  	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
  	border-radius:5px;
  	font-size: 10px;
  	font-family:Yaldevi Jaffna;
  	width: 160px;
  	height:35%;

}
body{
	 	margin: 0;
	 	padding: 0;
	 }
input{
	 	border-radius: 3px;
	 	border:solid lightgrey;
	 	position: top;
 }

#p1 img{
	width: 1000px;
	height: 335px;
	}
#text {
	position: absolute;
	text-align:center;
	font-size: 125%;
	font-family:times new roman; 
	top: 29%;right: 10%;
	padding: 75px;
}
#text button{
	background-color:#A9CA25;
	border: none;
	padding: 12px;
	margin:5px;
}
#abts{
	font-size:15px;
	color: black;
	margin-left:20%;
	font-size: 15px;
	font-family: sans-serif;
}	
#abts h4{
	font-size: 15px;
	font-family:serif;
}
{font-family:Yaldevi Jaffna;}
 ul {list-style-type:none;
 	margin-bottom:0px;
}
li {float :left;font-size:11px;
}
li a{
	
	color:#737373;	
	text-align:center;
	padding:0px 8px;
  	text-decoration: none;
	outline:none;
}
li a:active{
	
	color:#A6c936;	
	text-align:center;
	padding:0px 8px;
  	text-decoration: none;
	outline:none;
}
li a:hover{
	color:#A6c936;
}

