#head {
    width: 226px;
    height: 80px;
    float: left;
    padding-right: 3px;
    margin-left: 15px;
}

#fon {
margin-left: 200px;
font-size:15px;
padding:15px;

}
li{
	display: inline;
	font-size: 70%;
}

#hea{
	font-family:Yaldevi Jaffna;
	margin-left:-75px;
	float:right;
	margin-top: -5px;
	}
#hea ul {list-style-type:none;margin:0;
}
#hea li {
	float :left;
	font-size:10px;
	font-weight: bold;
	padding-left: 10px;
}
#hea li a{
	
	color:#737373;	
	text-align:center;
	padding:0px 6px;
    text-decoration: none;
	outline:none;
}
#hea li a:active{
	
	color:#A6c936;	
	text-align:center;
	padding:0px 8px;
    text-decoration: none;
	outline:none;
}
#hea  li a:hover{
	color:#A6c936;
}
#sub {
	background-color:#A6A79F;
	color:white;
	font-size:15px;  
	height: 61px;    
}
#sub p{
	margin-left: -139px;
	font-size: 15px;
	margin-top: -2px;
	font-family: Yaldevi Jaffna;
}
#sub img{
	margin-left: 46px;
	height: 58px;
	font-size: 13px;
	margin-top: -19px;
}
#subl{
	align-self: center;
    float: left;
    height: 52px;
    width: 45px;
    background-color: #A6A9A2;
    font-size: 20px;
    margin-left: 0	px;
    margin-top: -12px;
    margin-bottom: 4px;
		
}
.button {
  	background-color:#646560;
  	border: 2px solid white;
  	color: white;
  	padding: 7px 7px;
  	text-align: center;
  	text-decoration: none;
  	border-radius:4px;
  	font-size: 12px;
  	font-family:Yaldevi Jaffna;
  	width: 139px;
    margin-left: -39px;
    margin-top: -6px;
}

}
.button2 {
  	background-color:#A9CA25;
  	font-size: 2px;
  	color: white;
  	padding: 10px;
  	text-align:center;
  	text-decoration: none;
  	opacity:0.7;
  	border: 0px;
  	width: 110px;
  	height: 70px;
  	position:absolute;
 	top: 50%;
    left: 20%;
    padding: 12px 24px;
}
#Text {
	position: absolute;
	top: 40%;
	right:18%;
	font-family:Yaldevi Jaffna;
	font-size: 25px;
	text-align: center;
	color: #404040;
}

.over{
  position:relative;
}

.cont{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 8%;
  font-family: Yaldevi Jaffna;
  font-size: 18px;
  text-align: center;
  color: #404040;
  }
}
.up{
	position: relative;
}
.con{
	position: absolute;
	text-align: center;
	position: absolute;
	top: 40%;
	right:18%;
	font-family:Yaldevi Jaffna;
	font-size: 25px;
	text-align: center;
	color: #404040;

}
.tb {
  position: absolute;
  top: 100px;
  left: 220px;
  background-color: white;
  color:#404040 ;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  opacity:0.9;
  font-size:10px;
}
.btn1{
    background-color:#A9CA25;
    
    color: white;
    border:0;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    border-radius:4px;
    font-size: 12px;
    font-family:Yaldevi Jaffna;
    width: 140px;
    background-position: right;  
    background-repeat:no-repeat;   
    background-size: 15px 15px; 
    font-weight: bolder;
    outline: none;
}
.btn2{
	background-color:#A9CA25;
    color: white;
    border: 0px;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    border-radius:4px;
    font-size: 12px;
    font-family:Yaldevi Jaffna;
    width: 150px;
    background-position: right;  
    background-repeat:no-repeat;   
    background-size: 15px 15px; 
    font-weight: bolder;
    outline: none;
    margin-right: -6px;
}

.tb2{
  position: absolute;
  top:100px;
  right: 180px;
  background-color: white;
  color:#404040 ;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  opacity:0.9;
  font-size:10px;
}
.foot{
	background-color: #A6A9A2;
}
#sub1{
	width: 100%;
	height: 66px;
	background-color:#A6A9A2;
	color:white;
	font-size:15px; 
	text-align: center;
}
.footcon{

	height: 500px
	font-color: white;
	width:100%;
	background-color:#333333;
	font-size: 20px;
	margin:0px;
	color:#F5F5F5;
}
#b7 {
	font-family: Yaldevi Jaffna;
   width:200px;
   border-radius:5px;
   text-align:center;
   border:2px solid #A8CE3A;
   background-color:#BAD940;
   color: #A8CE3A;
   padding: 9px 9px;
}
#b6 {
	font-family:Yaldevi Jaffna;
	padding: 9px 9px;
	width:200px;
    border-radius:5px;
	text-align:center; 
	border:2px solid #A8CE3A;
	background-color:#BAD940; 
	color: #A8CE3A 
}
.last {
	background-size: cover;
	padding: 20px;
	background-color: #141414;
	color: white;
	font-size: 10px;
	height: 43px;
	font-family: yaldevi Jaffna;
}
.last img{
	width: 13px;
	height: 12px;
}
.last p{
	margin: 0px;
}
.footcon img{
	padding: 1px;
	width: 114%;
    margin-left: 18px;
}
.b5{
	background-color:#A9CA25;
    color: white;
    border:0;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    border-radius:3px;
    font-size: 10px;
    font-family:Yaldevi Jaffna;
    width: 150px;
    height: 30px;  
	background-position: right;  
	background-repeat:no-repeat;   
	background-size: 15px 15px; 
	font-weight: bolder;
	outline: none;


}
.b6{
	background-color:#A9CA25;
    color: white;
    border:0;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    border-radius:3px;
    font-size: 10px;
    font-family:Yaldevi Jaffna;
    width: 150px;
    height: 30px;  
	background-position: right;  
	background-repeat:no-repeat;   
	background-size: 15px 15px; 
	font-weight: bolder;
	outline: none;
	margin-left: 173px;
}
.b5 img{
	width: 22px;
	height: 22px;
}
.cont1{
	width: 100%;
	height:75px;
	font-size: 12px;
	text-align: center;
	font-size: 18px;
}
.button0{
  	background-color:#646560;
  	border: 2px solid white;
  	color: white;
  	padding: 4px 4px;
  	text-align: center;
  	text-decoration: none;
  	border-radius:4px;
  	font-family:Yaldevi Jaffna;
  	width: 150px;
  	height: 35px;
}
.butto{
	background-color: #4CAF50;
	border: none;
	color: white;
	width: 100px;
	padding: 12px 12px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	border-radius: 2px;
}
.last1{
	font-size: 8px;
}
.footcon p{

font-size:11px;
text-align:center;
color:white;
font-family:Yaldevi Jaffna;
margin:8px;
padding-right:21px; 
padding-top:20px;
}
.col2{
    font-size: 16px;
    padding: 64px;
}
.b11{
		       margin-top: 35px;
    margin-left: 168px;
    border-radius: 8px;
    background-color: white;
    padding: 7px;
    width: 55%;
    border-color: #C9EE41;
    font-family: Yaldevi Jaffna;
    font-style: italic;
}

}
.tooltip{
	font-family:times new roman; 

}
.btn10{
	width:115px;
	border-radius: 5px;   
	text-align: center; 
	border: 2px solid #A8CE3A; 
	background-color: white;
	color:#A8CE3A ;
}
.btn10:hover {
  background-color: #A8CE3A; /* Green */
  color: white;
}
.txt:hover{
	color:white; /* Green */
  color: #A8CE3A;
}
.client{
	background-image: url(/home/webwerks/Assignment_1/images/testimonial-bg.jpg);
}
.buton{
	    margin-left: 160px;
    margin-top: -14px;
}
}